<include file="Public/header" />

<main role="main">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">说明</div>
                <div class="panel-body">
                    <blockquote>
                        <ol>
                            <li>试题存放在 Problems 文件夹下。</li>
                            <li>学生提交在 Uploads 文件夹下。</li>
                        </ol>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>

<include file="Public/footer" />