<include file="Public/header" />

<main role="main">
    <div class="container dashboardContainer">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">概览</div>
                <div class="panel-body">
                    <p>总人数：  <b>{:count($students)}</b> 人。</p>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">已添加到系统中的学生</div>
                <div class="panel-body">
                    <form action="{:U('dispatcher')}" method="post" >
                        <table class="table table-hover">
                            <thead>
                                <tr><th>选择</th><th>学号</th><th>姓名</th></tr>
                            </thead>
                            <tbody>
                        <volist name="students" id="oneStudent">
                                <tr>
                                    <td><input type="checkbox" name="userid[]" value="{$oneStudent.id|base64_encode}"></td>
                                    <td>{$oneStudent.id}</td>
                                    <td>{$oneStudent.name}</td>
                                </tr>
                        </volist>
                            </tbody>
                            
                        </table>
                        <input type="hidden" name="todo" value="{:base64_encode('deleteStudent')}" />
                        <button type="submit" class="btn btn-danger pull-right"/>删除被选中的学生</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<include file="Public/footer" />